[Unit]
Description=Meetings Assistant

[Service]
User=abhigyan
Type=simple
ExecStart=/home/abhigyan/Projects/meeting-launcher/meetings_assistant.py
Restart=on-failure

[Install]
WantedBy=multi-user.target